@media (max-width: 680px) {
  .cabecalho .logo {
    max-width: 130px;
  }

  .selecao-de-personagens {
    flex-direction: column-reverse;
    max-width: 400px;
    margin: 10px;
  }

  .selecao-de-personagens .personagens {
    margin-top: 10px;
  }

  .selecao-de-personagens .personagens .titulo {
    font-size: 15px;
  }

  .selecao-de-personagens .lista-de-personagens {
    gap: 9px;
  }

  .selecao-de-personagens .personagem img {
    width: 70px;
  }

  .personagem-selecionado .personagem-grande {
    width: 150px;
    height: 150px;
    margin-top: 10px;
  }

  .personagem-selecionado .descricao-personagem {
    width: 80%;
    font-size: 16px;
    margin: 20px auto;
  }
}
